.builderHeaderText {
    display: inline-block;
    text-align: center !important;
    padding: 1px;
    font-size: calc(1.25rem + 1.5vw);
}

.builderHeaderEditIcon {
    vertical-align: text-bottom;
    max-width: 34px;
    max-height: 34px;
    padding: 2px;
    border: 2px solid white;
    border-radius: 8px;
}

.builderHeaderEditIcon:hover {
    cursor: pointer;
    background: #444444;
}

.builderHeaderEditIcon:active {
    cursor: pointer;
    background: unset;
}

.spacer {
    display: inline-block;
    min-width: 12px;
    padding: 0;
    background-color: blueviolet;
    box-sizing: content-box;
}

.theTextbox {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color);
    font-size: calc(1.25rem + 1.5vw);
    border: none;
    outline: none;
    height: auto;
}